@{
    ViewBag.Title = "About";
    ViewBag.Active = "about";
}

<h2>About</h2>
<p>TODO: Add some text here</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et est iaculis, aliquet nunc et, laoreet neque. Quisque tempor nibh pharetra ullamcorper rhoncus. 
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla sagittis ipsum non magna congue, in scelerisque nunc eleifend. 
    Nulla facilisi. Nunc et consequat lorem. Duis mollis sem id ipsum eleifend fringilla. Quisque ac scelerisque nunc. Quisque nulla justo, viverra quis semper sit amet, aliquet nec risus. 
    Ut sed ipsum nibh. Aliquam pretium cursus augue quis laoreet. Vivamus vitae placerat nulla. Praesent tortor turpis, tincidunt hendrerit eros vitae, tempor rutrum lorem. Nunc vitae orci arcu. 
    Aliquam ante magna, tincidunt a dolor in, sagittis consectetur ipsum. 
</p>

<h2>Frequently Asked Questions</h2>
<dl>
    <dt>What is a CageFlix Rating?</dt>
    <dd>
        We believe that Nic Cage movies cannot be rated in the same way other movies are rated. Normal movie aspects such as plot, production value, special effects, etc. really don't matter. 
        The only thing that really matters is the level of intensity and insanity that Nic Cage brings to the movie. So the CageFlix rating is not a rating of how good the movie is, but
        rather how batshit crazy Nic Cage is in the movie.
    </dd>
    <dt>Why is the CageFlix rating scale 3 to 11?</dt>
    <dd>
        1 and 2 really don't apply to Nic Cage. He will never give a performance that is either a 1 or a 2, so what is the point in even providing those options? And we all know that Nic Cage 
        certainly has the ability to exceed a 10 when it comes to being insane, so it didn't seem appropriate to stop the scale there. 3 to 11 is the only scale that makes sense.
    </dd>
    <dt>Shits and Giggles?</dt>
</dl>