@{
    ViewBag.Title = "About";
    ViewBag.Active = "about";
}

<h2>Born to own the silver screen</h2>
<hr />
<p>
    In 1964, a child was born. A star. Nicolas Kim Coppola.
    <br />
    In a career spanning more than three decades, Nic has wowed audiences with his unique Nouveau Shamanic acting. Whether he's flipping burgers in
    Fast Times, or plundering ancient artifacts in National Treasure, movie-goers the world over congregate to watch Hollywood's greatest spectacle
    deliver unrelenting performances.
    <br />
    CageFlix is an homage to the irrepressible movie culture that only an artistic virtuoso such as Nic could birth. We believe Nic can transform
    even the worst film into a cause for celebration and rocket an already compelling picture to heights representing the pinnacle of cinematic
    excellence.
    <br />
    So celebrate with us. The star. Nicolas Cage.
</p>

<h2>Frequently Asked Questions</h2>
<dl>
    <dt>What is a CageFlix Rating?</dt>
    <dd>
        We believe that Nic Cage movies cannot be rated in the same way other movies are rated. Normal movie aspects such as plot, production value, special effects, etc. really don't matter. 
        The only thing that really matters is the level of intensity and insanity that Nic Cage brings to the movie. So the CageFlix rating is not a rating of how good the movie is, but
        rather how batshit crazy Nic Cage is in the movie.
    </dd>
    <dt>Why is the CageFlix rating scale 3 to 11?</dt>
    <dd>
        1 and 2 really don't apply to Nic Cage. He will never give a performance that is either a 1 or a 2, so what is the point in even providing those options? And we all know that Nic Cage 
        certainly has the ability to exceed a 10 when it comes to being insane, so it didn't seem appropriate to stop the scale there. 3 to 11 is the only scale that makes sense.
    </dd>
    <dt>Shits and Giggles?</dt>
</dl>