@{
    ViewBag.Title = "Home";
    ViewBag.Active = "home";
}

<!-- Jumbotron -->
<div class="jumbotron">
    <h1>USING THIS SITE WON'T BRING BACK YOUR GODDAMN HONEY</h1>
    <hr />
    <p class="text-success">But it will help you keep track of all the Nic Cage movies you've seen</p>
    @Html.ActionLink("1. CREATE AN ACCOUNT", "register", "account", null, new { @class = "btn btn-large btn-success" }) &nbsp;
    @Html.ActionLink("2. START WATCHING CAGE FLIX", "index", "movies", null, new { @class = "btn btn-large" })
</div>
<hr>
<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>
